body {
  background-color: #594F8D;
  background-image: url(/img/715_3018-oboi-siren-fioletovaya.jpg);
  background-size: cover; 
}

.btn {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 15vw;
  height: 7vh;
  background-color: #594F8D;
  border: 1px solid #AFA5DB;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  box-shadow: 0 0 1.5vh 1vh #F0E4FD;
  color: #fff;
  font-family: 'Pacifico', cursive;
  font-size: 2vh;
  text-shadow: 0 0 1vh #F0E4FD, 0 0 1vh #F0E4FD, 0 0 5px #000;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  transition: 0.5s;
  z-index: 2;
  transform-origin: center;
  text-transform: uppercase;
}

.btn:hover {
  opacity: 0.9;
  width: 12vw;
  border: 1px solid #AFA5DB;
  border-radius: 3vw;
  transition: 0.5s;
  color: #594F8D;
  background-color: #F0E4FD;
}

.message {
  transform-origin: center;
  width: auto;
  min-height: 7vh;
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 2.5vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Bad Script', cursive;
  box-shadow: 0 0 1.5vh 1vh #fff, 0 0 2.5vh 2vh #fff;
  text-align: center;
  font-size: 1.5em;
  opacity: 1;
  box-sizing: border-box;
  margin: 0;
  transition: 0.5s;
  overflow: hidden;
  color: rgb(123, 79, 141);
}

.hidden {
  font-size: 0;
  height: 0;
  width: 0;
  opacity: 0;
  transition: 0.5s;
}

.kiss {
  position: fixed;
  left: 0;
  top: 0;
  height: auto;
  width: 3vw;
  opacity: 0;
  transition: 1s;
  animation-delay: 0;
  animation: grow 2s;
}

@keyframes grow {
  0% { 
    opacity: 1;
    transform: scale(0.8)
  }
  100% {
    opacity: 0;
    transform: scale(1.5)
  }
}